@font-face {
    font-family: "elegant";
    src: url("../POLICES/ELEGANT\ \ Personal\ use.ttf");
}

html, body {
    margin: 0;
    height: 100vh;
    overflow: auto;
}

body {
    position: relative; /*très important sinon la photo ne s'adapte pas bien à la page*/
    background-image: url("../PHOTOS_PAGES/fond_fds.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    color:white;
    font-family: "elegant";
    font-size: 20px;
    font-weight: bolder;
}

#global {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#global_l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

.container {
    margin: 10px;
    height: 400px;
    width:300px;
}

img {
    border-radius: 10px;
    height: 400px;
    width:300px;
    border: 4px solid red;
}

.image-container {
    position: absolute;
    z-index: 1;
    backface-visibility: hidden; /*pour laisser paraitre le texte une fois la rotation faite.*/
    transform-style: preserve-3d;
    transition: all 0.5s;
    transform: rotateY(0deg);
}

.text-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
    width: 300px;
    height: 400px;
    text-align: center;
    border: 4px solid red;
    overflow: hidden;
    z-index: 0;
}


.text-overlay::before {
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur noire avec une opacité de 0.5*/
    z-index: -1;
}

.container:hover .image-container {
    transform: rotateY(180deg); /*pour faire la rotation sur l'axe des Y*/
}

.container:hover .text-overlay {
    transform: translateY(0deg); /*Déplace le texte vers le haut pour le rendre visible */
}

p {
    margin: 10px;
}

button {
    background-color: red;
    color: black;
    font-size: 15px;
    font-weight: bolder;
}

button:hover {
    background-color: whitesmoke;
}

footer button {
    font-weight: bolder;
    display: inline-block;
    padding: 20px 20px;
    font-size: 20px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 100px;
    text-transform: uppercase;
    background: black;
    color: white;
    transition: all 0.3s ease-in-out;
}

footer button:hover {
    color: white;
    background: black;
    border: 2px solid red;
    /*text-shadow: décalage_x décalage_y opacité couleur*/
    text-shadow: 4px 4px 0 red, 4px 6px 0 red, 4px 8px 0 red,
        4px 10px 0 red, 4px 12px 0 red, 4px 14px 0 red,
        4px 16px 0 red, 4px 18px 0 red;
}

@media screen and (max-width: 1000px){
    #global_l {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: space-around;
    }

    .container {
        margin-top: 20px;
    }
}
